.ReturnButton {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #0099ff;
	border: none;
	color: azure;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: .2s;
    
}

.ReturnButton:hover {
	background-color: azure;
	border-color: #0099ff;
	color: #0099ff;

}
